div{
    background-color: rgb(184, 79, 79);
    color: rgb(51, 255, 0);
    display: block;
    width: 200px;
    height: 120px;
    overflow: auto;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(133, 255, 102);
    margin: 10px;
    box-sizing: border-box;
   /* float: left; */
}
#a{
    background-color: rgb(0, 0, 0);
}
#b{
    background-color: rgb(82, 82, 82);
    padding: 20px 10px 5px 5px;
    position: relative;
    left: 0px;
    top:  0px;
}
#c{
    background-color: rgb(0, 0, 0);
}
#d{
    background-color: rgb(82, 82, 82);
}